<div class="my-trello__column">
    <span class="my-trello__column-title" data-control-prop="column-title">{{title}}</span>
    <div class="my-trello__column-content" data-column-id="{{columnId}}"></div>
    <div class="my-trello__column-add-task" data-control-prop="add-task" data-state="false">
        <span class="my-trello__column-add-task-btn">+Add another card</span>
        <form class="my-trello__column-add-form-task">
            <textarea name="taskMessage" placeholder="please input your text task"></textarea>
            <button type="submit">Add card</button>
        </form>
    </div>
</div>